<article>
    <header class="experienceHeader">My Recent Experience</header>
    <section class="experienceBody">
       <a href="http://www.se7enfast.com/"><h3>www.se7enfast.com</h3></a>
        <h4><a href="http://isaac-ishmael.us/">Isaac Ishmael Innitiave</a> | 2015-Current</h4>
        <p>Creating a website for a nonprofit</p>
        <ul>
            <li>Building website from scratch</li>
            <li>Front end uses JS, AngularJS, Bootstrap, CSS3, HTML5</li>
            <li>Building backend with Node.js, Express, MongoDB</li>
            <li>Creating database for submitting form to register for hosting events</li>
        </ul>
    </section>

    <section class="experienceBody">
    <h3>Front End Engineering Intern</h3>
    <h4><a href="http://briebugsoftwaresolutions.com/">Briebug Solutions</a> | Nov 2015-Current</h4>
        <p>Testing JS/Angular applications to increase certainty and improve functionality.</p>
    <ul>
        <li>Learning the ins & outs of writing unit and integration tests for AngularJS directives</li>
        <li>Test are implemented with Karma, Mocha, Chai, and Sinon</li>
        <li>Learning to write AngularJS directives</li>
        <li>All AngularJS code is written with the new AngularJS 2.0 in mind</li>
    </ul>
    </section>

    <section class="experienceBody">
        <a href="http://www.refactoru.com/"><h3>RefactorU</h3></a>
        <h4>Web Dev Bootcamp | Aug 2015-Nov 2015</h4>
        <p>Intensive growth in the full MEAN stack.</p>
        <ul>
            <li>Studied front end CSS3, HTML5, JS, as well as AngularJS & Bootstrap</li>
            <li>Implemented front end skills in midterm project</li>
            <li>Studied back end Node.js, Express, MongoDB, and JSON</li>
            <li>Implemented MEAN stack in final project, a crafting website , with ability to search for<br>
                craft projects by supplies on hand, and submitting new craft ideas to the database</li>
        </ul>
    </section>
</article>