<div class="container-fluid aboutContainer">
    <div class="row">
        <div class="col-md-6 about">
            <p class="aboutText">I am Jessey.</p>
            <p class="aboutText aboutText2">A full stack developer based in Denver, CO.
                <p class="aboutText aboutText2">I love pizza, my family, and coding . . . not necessarily in that order.</p>
        </div>

        <div class="col-md-6">
            <img class="aboutBackground img-responsive pull-right" alt="Responsive image" src="../../media/jessey.jpg">
        </div>
    </div>
</div>