<article class="projectContainer">
    <div class="projectBody">
        <a href="http://www.se7enfast.com"><img class="projectPic1" src="../../media/SODA.png"></a>
            </div>

        <div class="projectBody">
            <p class="projectBody">The people behind the SE7EN FAST project believe that relationships are the starting point for peace. SE7EN FAST provides an avenue for non-Muslims and Muslims to enter into ongoing relationships across lines of religious and cultural difference. Find out more at <a href="http://www.se7enfast.com/">www.se7enfast.com</a>. Join the movement!</p>
        </div>

            <div class="projectBody">
                <p >To build this web applicaiton I am using:</p>
                <ul class="projectBody">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Angular</li>
                    <li>UI Router</li>
                    <li>Bootstrap</li>
                    <li>Node.js, Mongo DB, Express</li>
                </ul>
            </div>

    <div class="projectBody">
        <a href="http://myscrapz.com/#/"><img class="projectPic2" src="../../media/ScapzLightLogo.png"></a>
    </div>

    <div class="projectBody">
        <p class="projectBody">Scrapz was created for you. If you are a mom, dad, or teacher it's a great resource for crafting with your children. Scrapz is easy and fun to use.<br>

            Do you have random, leftover crafts supplies laying around your house or classroom? Scrapz can help! It allows you to search for fun crafts by the supplies you already have at home! Simply choose supplies from the drop down lists in the Build-A-Form on the Home page, and hit submit! The results will be filtered according to your search criteria.<br>

            When your search is complete, start crafting with your children and making memories.<br>

            Happy Crafting!</p>
    </div>

    <div class="projectBody">
        <p >To build this web applicaiton I am using:</p>
        <ul class="projectBody">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Angular</li>
            <li>UI Router</li>
            <li>Bootstrap</li>
            <li>Node.js, Mongo DB, Express</li>
        </ul>
    </div>
</article>