<div class="container-fluid skillz">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a class="thumbnailHover" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"><img src="../../media/HTML.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="../../media/CSS.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://www.javascript.com/" target="_blank"><img src="../../media/JS.jpg"></a>
        </div>

        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="http://learn.shayhowe.com/advanced-html-css/responsive-web-design/" target="_blank"><img src="../../media/rwd.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://angularjs.org/" target="_blank"><img src="../../media/Angular.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="http://getbootstrap.com/" target="_blank"><img src="../../media/Bootstrap.jpg"></a>
        </div>

        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://karma-runner.github.io/0.13/index.html" target="_blank"><img src="../../media/karma.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://mochajs.org/" target="_blank"><img src="../../media/mocha.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="http://chaijs.com/" target="_blank"><img src="../../media/chai.jpg"></a>
        </div>

        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="https://github.com/" target="_blank"><img src="../../media/git.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="http://gulpjs.com/" target="_blank"><img src="../../media/gulp.jpg"></a>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-6 thumbnail">
            <a href="" target="_blank"><img src="../../media/pair.jpg"></a>
        </div>
    </div>
</div>